.Contenedor {
    width: 450px;
    padding: 60px;
    margin: 30px;
    font-size: 15px;
    background-color: rgb(236, 216, 240);
    border-radius: 10px;
}

.Imagen {
    width: 250px;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.Descripcion {
    display: block;
}

.irAlCarrito {
    text-decoration: none;
    color: blueviolet;
    background-color: beige;
}